<!-- back -->
<div id="detailPrev">
	<p class="back">返回</p>
	<div class="con">
		<div class="pic">
			<p></p>
			<img src="" alt="">
		</div>
		<div class="des">
			<p class="text"></p>
			<p class="author"><img src="" alt=""><span></span></p>
		</div>
	</div>
</div>

<div class="detailMain">
	<!-- play all -->
	<p class="playAll"><img src="" alt="">播放全部</p>
	<!-- 歌单列表 -->
	<ol id="musicList">
	
	</ol>
</div>


<!--  -->
<div id="templateItem2" style="display: none;">
	<li class="item2">
		<p class="music"></p>
		<p class="author"></p>
		<span></span>
	</li>
</div>
