<div class="home" id="home">
	<div class="banner" id="banner">
		<!-- <img src="images/banner1.jpg" alt=""> -->
		<ul class="bannerList" id="bannerList">
			<li class="ac"><img src="images/banner1.jpg" alt=""></li>
			<li><img src="images/banner2.jpg" alt=""></li>
			<li><img src="images/banner3.jpg" alt=""></li>
			<li><img src="images/banner4.jpg" alt=""></li>
		</ul>
		<ul class="tabList" id="tabList">
			<li class="ac"></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="recommend">
		<p class="title"><span><img src="images/aei.png" alt="">推荐歌单</span><span>更多></span></p>
		<div class="songlist" id="songlist">
			<!-- <div class="item">
				<div class="like">10万</div>
				<div class="pic">
					<img src="images/3265549567416436.jpg" alt="">
				</div>
				<p>hello world</p>
			</div> -->
		</div>
	</div>

	<!--  -->
	<div id="templateItem" style="display: none;">
		<div class="item">
			<a href="" class="con" onclick="router('detail')">
				<div class="like"></div>
				<div class="pic">
					<img src="" alt="">
				</div>
				<p></p>
			</a>		
		</div>
	</div>
</div>